/*------------------------------------  MENU PRINCIPAL -----------------------------------*/

/*-------  GENERAL -----------*/

:root {
  --color1: #FFDDD9;
  --color2: #FFF3FE;
  --color3: #EBEBEB;
  --color4: #fffdfd;
  --color5: #FFC827;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat',sans-serif;
}

a {
  text-decoration: none;
}

/*-------  HEADER -----------*/

header {
  text-align: center;
  width: 100%;
  background-color: #45a186;
  padding-top: 15px;
}

header img {
  width: 250px;
  height: 82px;
  position: relative;
}

/*-------   CORPS DU SITE -----------*/

.resto {
  display: grid;
  justify-content: center;
  margin: 40px;
}

.area1 {
  grid-column: 1;
  grid-row: 1;
}

.area2 {
  grid-column: 2;
  grid-row: 1;
}

.area3 {
  grid-column: 1;
  grid-row: 2;
}

.area4 {
  grid-column: 2;
  grid-row: 2;
}

.container {
  height: 600px;
  width: 400px;
  box-shadow: 1px 1px 12px #9e9e9e;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

/*-  container1 -*/

#menu1 {
  display: block;
  text-align: center;
  transform: scale(1);
  transition: transform 400ms;
}

#menu1:hover {
  transform: scale(1.5);
  opacity: 0.5;
}

.titremenu1 {
  color: #553d1e;
  font-family: "script MT bold";
  font-size:2em;
}

i {
  font-size: 300%;
  background-image: linear-gradient(to right, #da1b02, #e68b14);
  color: transparent;
  -webkit-background-clip: text;
}

.text1 {
  padding-top: 5%;
  color: #553d1e;
  text-transform: uppercase;
  font-family: "tekton pro";
  font-size:2.5em;
}

.color1 {
  background-color: var(--color1);
}

/*-  container2 -*/

#menu2 {
  display: block;
  text-align: center;
  transform: scale(1);
  transition: transform 400ms;
}

#menu2:hover {
  transform: scale(1.5);
  opacity: 0.5;
}

.titremenu2 {
  background-image: linear-gradient(to right, #f3b42b, #9352e7);
  color: transparent;
  -webkit-background-clip: text;
  font-family: "adobe arabic";
  margin-top: 0px;
  font-size:2em;
}

.text2 {
  padding-top: 5%;
  color: #f3b42b;
  font-family: "Times";
  font-size:2.5em;
  text-transform: uppercase;
}

.color2 {
  background-color: var(--color2)
}

/*-  container3 -*/

#menu3 {
  display: block;
  text-align: center;
  transform: scale(1);
  transition: transform 400ms;
}

#menu3:hover {
  transform: scale(1.5);
  opacity: 0.5;
}

.titremenu3 {
  background-image: linear-gradient(to right, #211ee4, #3fc0fc);
  color: transparent;
  -webkit-background-clip: text;
  font-family: "savoye LET";
  font-size:2em;
}

.text3 {
  padding-top: 5%;
  color: #3184e2;
  font-family: "Bradley Hand";
  font-size:2.5em;
  text-transform: uppercase;
}

.color3 {
  background-color: var(--color3)
}

/*-  container4 -*/

#menu4 {
  display: block;
  text-align: center;
  transform: scale(1);
  transition: transform 400ms;
}

#menu4:hover {
  transform: scale(1.5);
  opacity: 0.5;
}

.titremenu4 {
  background-image: linear-gradient(to right, green, #a5ff71);
  color: transparent;
  -webkit-background-clip: text;
  font-family: "Allura";
  font-size:2em;
}

.text4 {
  padding-top: 5%;
  color: #019b01;
  font-family: "Bradley Hand";
  font-size:2.5em;
  text-transform: uppercase;
}

.color4 {
  background-color: var(--color4);
}

/*-------  PROCHAINEMENT -----------*/

.prochainement {
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 100px;
}

.heading {
  background-color: #45a186;
  color: #FEC85F;
  padding: 0px 110px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.prochainement h2 {
  font-weight: 100;
  margin-block-start: 0.4em;
  margin-block-end: 0.4em;
  font-size: 2em;
}

.point {
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #FEC85F;
  margin-right: 5px
}

.pulse-1 {
  -webkit-animation: pulse .4s ease 0s infinite alternate;
  animation: pulse .4s ease 0s infinite alternate; 
}

.pulse-2 {
  -webkit-animation: pulse .4s ease .2s infinite alternate;
  animation: pulse .4s ease .2s infinite alternate; 
}

.pulse-3 {
  -webkit-animation: pulse .4s ease .4s infinite alternate;
  animation: pulse .4s ease .4s infinite alternate; 
}

@-webkit-keyframes pulse {
  from {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); 
  }
  to {
      opacity: .25;
      -webkit-transform: scale(0.75);
              transform: scale(0.75); 
  }
}


/*-------  FOOTER -----------*/

footer {
  background-color: #45a186;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

footer a {
  text-decoration: none;
  color: #FEC85F; 
}

.mentions {
margin-left: 50px;
}

.contact {
margin-right: 50px;
}

.mentions:hover, .contact:hover {
  -webkit-animation: wiggle 5s ease-in;
  animation: wiggle 5s ease-in; 
  position: relative;
}
            
@-webkit-keyframes wiggle {
0% {
  left: 0; }
1% {
  left: -3px; }
2% {
  left: 5px; }
3% {
  left: -8px; }
4% {
  left: 8px; }
5% {
  left: -5px; }
6% {
  left: 3px; }
7% {
  left: 0; } }


/*--------------------------------------------------- ALL MENU ---------------------------------------------------*/

.title {
  text-align: center;
  color: black;
  margin-top: 70px;
}

.backgroundmenu {
  display: flex;
  justify-content: center;
}


.carte {
  padding: 50px;
  box-shadow: 1px 1px 12px #9e9e9e;
  margin-bottom: 100px;
  width: 700px;
}

td a h2{
  display: block;
  font-size: 1.4em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  width: 250px;
  text-align: center;
}

td a:after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  transition: width .5s cubic-bezier(0.87, 0.21, 0.18, 0.93), background-color .5s ease;
}

td a:hover:after {
  width: 100%;
  border-bottom: 2px dashed #45a186
}


/*---------  TABLEAU --------------*/

table, thead, tbody, tfoot {
  display: block;
}

td {
  border: none;
}

tr {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

/*-  Titres tbody -*/


.groupetrait2 {
  display: contents;
}

.trait1menus {
  height: 8px;
  width: 200px;
  margin: 10px 20px 10px 0px;
}

.trait2menus {
  height: 8px;
  width: 200px;
  margin: 10px 0px 10px 20px;
}

/*---------------------------------------------------- MENU1 -------------------------------------------------------*/

/*---------  TABLEAU --------------*/

.case td:nth-child(1) {
  width:500px;
  padding-bottom: 20px;
}

.case td:nth-child(2) {
  width: 50px;
  padding-bottom: 20px;
}

.case tr:nth-child(1) {
  margin-bottom: 20px;
}

.case tr:nth-child(6) {
  margin-bottom: 20px;
}

.case tr:nth-child(10) {
  margin-bottom: 20px;
}

.case tr:nth-child(5) {
  margin-bottom: 50px;
}

.case tr:nth-child(9) {
  margin-bottom: 50px;
}



/*-------  CORPS DU MENU1 -----------*/

/*-  Design menu -*/

.menu1 {
  font-family: "tekton pro";
}

/*-  Titre thead -*/

.menu1 thead {
  margin-top: 50px;
}

.icon {
  font-size: 5em;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.case h1 {
  color:black;
  font-size: 2.5em;
  text-align: center;
  font-family: "script MT bold";
}

/*-  Titres tbody -*/

.trait1menu1 {
  height: 2px;
  width: 200px;
  margin: 10px 0px;
}

.trait2menu1 {
  height: 2px;
  width: 200px;
  margin: 10px 0px;
}

/*-  Titre tfoot -*/

.titre2menu1 {
  font-family: "script MT bold";
  font-size: 1em;
  text-align: center;
}

.titre2menu1 i {
  font-size: 1.8em;
  margin-right: 10px;
  display: inline-block;
}


/*------------------------------------------------ MENU2 ---------------------------------------------------*/
.menu2 {
  font-family: "times";
}

/*-  Titre thead -*/

.case2 h1 {
  font-size: 4em;
  background-image: linear-gradient(to right, #f3b42b, #9352e7);
  color: transparent;
  -webkit-background-clip: text;
  text-align: center;
  margin-block-start: 0.5em;
  text-align:center;
  font-family: "adobe arabic";
}



/*-  Tableau -*/

.case2 td:nth-child(1) {
  width:500px;
  padding-bottom: 10px;
}

.case2 td:nth-child(2) {
  width: 50px;
  padding-bottom: 10px;
}

.case2 tr:nth-child(4n+4) {
  margin-bottom: 30px;
}

.case2 tr:nth-child(4n+1) {
  margin-bottom: 20px;
}

.case2 tr:nth-child(-n+4) {
 color: #DD5F00;
}

.case2 td:nth-child(-n+4):hover:after {
  width: 100%;
  background: blue;
}

.case2 tr:nth-child(n+5) {
  color: #A65C99;
}

.case2 tr:nth-child(n+9) {
  color: #6C3BA9;
}

/*-------------------------------------- MENU3 -------------------------------------------------*/

.menu3 {
  font-family: "Bradley Hand";
}

/*-  Titre thead -*/

.case3 h1 {
  background-image: linear-gradient(to right, #211ee4, #3fc0fc);
  color: transparent;
  -webkit-background-clip: text;
  font-size: 4em;
  text-align:center;
  font-family: "savoye LET";
}

/*-  Tableau-*/

.case3 td:nth-child(1) {
  width:500px;
}

.case3 td:nth-child(2) {
  width: 50px;
  padding-bottom: 15px;
  font-size: 20px;
}

.case3 tr:nth-child(4n+1) {
  padding-bottom: 30px;
}

.case3 tr:nth-child(4n+4) {
  padding-bottom: 50px;
}

/*-------------------------------------- MENU4 ---------------------------------------------------*/

.menu4 {
font-family: "Bradley Hand";
}

/*-  Titre theader -*/

.case4 h1 {
  background-image: linear-gradient(to right, green, #a5ff71);
  color: transparent;
  -webkit-background-clip: text;
  font-family: "Allura";
  font-size: 4em;
  text-align:center;
}

/*-  Tableau -*/

.case4 td:nth-child(1) {
  width:500px;
}

.case4 td:nth-child(2) {
  width: 50px;
  padding-bottom: 15px;
  font-size:20px;
}

.case4 tr:nth-child(4n+1) {
  padding-bottom: 30px;
}

.case4 tr:nth-child(4n+4) {
  margin-bottom: 50px;
}


/*--------------------------------  MENTIONS LEGALES ----------------------------------------------*/

.mentionslegales {
margin: 100px;
}

.mentionslegales h3 {
padding: 0 0 5px 0;
border-bottom: 2px solid #FFC827;
text-transform: uppercase;
}

.mentionslegales p {
font-size: 13px;
text-align: justify;
line-height: 2;
}


/*--------------------------------  MEDIA QUERIES ----------------------------------------------*/

/*----------- MEDIA 900px -----------*/
@media all and (max-width:900px) {

  .area1 {
    grid-column: none;
    grid-row:1 ;
  }

  .area2 {
    grid-column: none;
    grid-row:2 ;
  }

  .area3 {
    grid-column: none;
    grid-row:3 ;
  }

  .area4 {
    grid-column: none;
    grid-row:4 ;
  }
}

/*------------ MEDIA 650px ----------*/

@media all and (max-width: 650px) {

  .prochainement h2 {
    font-size: 1.3em;
  }
  
  .case td:nth-child(2), .case2 td:nth-child(2), .case3 td:nth-child(2), .case4 td:nth-child(2) {
    width: 40px;
  }

  .case td:nth-child(1), .case2 td:nth-child(1), .case3 td:nth-child(1), .case4 td:nth-child(1) {
    width:420px;
  }

  .trait1menu1, .trait2menu1 {
    width: 100px;
  }

  .trait1menus, .trait2menus {
    width: 100px;
    height: 4px;
  }
}
